<mat-toolbar color="primary">
  <span [routerLink]="['']">Main page</span>
  <span class="example-spacer"></span>
  <ng-container class="categories" *ngIf="categories$ | async as categories">
    <ng-container *ngFor="let category of categories.data">
      <a *ngIf="!category.categories.length" mat-button [routerLink]="['/categories', category.code]">{{category.name}}</a>
      <button *ngIf="category.categories.length" mat-button [matMenuTriggerFor]="aboveMenu">{{category.name}}</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <ng-container *ngFor="let subCategory of category.categories">
            <a  mat-menu-item  [routerLink]="['/categories', subCategory.code]">{{subCategory.name}}</a>
          </ng-container>
      </mat-menu>
    </ng-container>
  </ng-container>

</mat-toolbar>
