<header class="primary-header flex">
  <div>
    <img [routerLink]="['']" height="40" src="/assets/shared/telescope-svgrepo-com.svg" alt="space tourism logo"
         class="logo">
  </div>
  <button #navTogle class="mobile-nav-toggle" (click)="mobileToggle()" aria-controls="primary-navigation"><span
    class="sr-only" aria-expanded="false">Menu</span></button>
  <nav>
    <ul #nav id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
      <div class="language-selector">
        <span [class.active]="isLanguageActive('en')" (click)="changeLanguage('en')">EN</span>
        <span [class.active]="isLanguageActive('pl')" (click)="changeLanguage('pl')">PL</span>
      </div>
      <ng-container class="categories" *ngIf="categories$ | async as categories">
        <ng-container *ngFor="let category of categories.data">
          <li *ngIf="!category.categories.length" [routerLink]="['/categories', category.code]"
              [class.active]="isRouterLinkActive(category)"><a
            class="ff-sans-cond uppercase text-white letter-spacing-2">{{category.name}}</a></li>
            <li  [matMenuTriggerFor]="menu" *ngIf="category.categories.length"
                class="parent-category ff-sans-cond uppercase text-white letter-spacing-2">{{category.name}}
                <mat-menu #menu="matMenu">
                <ng-container *ngFor="let subCategory of category.categories">
                  <li mat-menu-item [class.active]="isRouterLinkActive(subCategory)" class="subcategory ff-sans-cond uppercase text-white letter-spacing-2"
                      [routerLink]="['/categories', subCategory.code]">{{subCategory.name}}</li>
                </ng-container>
                </mat-menu>
            </li>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</header>
