@import "src/styles/mixins.scss";


main {
  padding-top: 10em;
  padding-inline: 2em;

  @include media-sm-down {
    padding-inline: 1em;
  }
}

.large-button {
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border: solid 2px white;
}
