<main *ngIf="(page$ | async)?.data as pages" id="main" class="grid-container grid-container--home">
  <ng-container *ngIf="pages[0]">
    <div >
      <h1 class="text-accent fs-300 ff-sans-cond uppercase letter-spacing-1">{{pages[0].pageData?.subtitle}}
        <span class="d-block fs-700 ff-serif text-white">{{pages[0].pageData?.title}}</span></h1>
    </div>
    <div>
      <a [routerLink]="['/categories', 'all']" class="large-button uppercase ff-serif text-white">{{pages[0].pageData?.buttonText}}</a>
    </div>
  </ng-container>

</main>
