<div class="container">
  <ng-container *ngIf="posts$ | async as posts">
    <ng-container *ngIf="posts.data[0] as post">
      <img (click)="openImage(post.images)" src="{{baseUrl}}{{post.images[0].formats['large'].url}}">
      <h1>{{post.title}}</h1>
      <markdown [data]="post.description"></markdown>
      <app-photoswipe #photoSwipe></app-photoswipe>
      <ul>

        <ng-container *ngFor="let image of post.images | slice:1;  index as i">
          <li>
            <img (click)="openImage(post.images, i + 1)"  src="{{baseUrl}}{{image.formats['medium'].url}}">
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-container>
</div>
