@import "src/styles/mixins.scss";

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 1em;
  margin: 0;
  gap: 1em;
  @include media-xs-down() {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

li {
  list-style: none;
  position: relative;
  border: 2px solid white;
  span {
    visibility: hidden;
    opacity: 0;
    bottom: 20%;
    position: absolute;

  }

  &:hover {
    cursor: pointer;

    span {
      opacity: 1;
      visibility: visible;
      background: hsl(var(--clr-white)/0.05);
      -webkit-backdrop-filter: blur(1.5rem);
      backdrop-filter: blur(1.5rem);
      width: 100%;
      padding: 1em;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }
}


img {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}
